<div id="section-two" class="services-wrap section-gap-about">
        <div class="container">
     
           <div class="row justify-content-end">
              <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                 <div class="sub-heading text-right">
                    <h3>أهدافنا الاستراتيجية</h3>
                 </div>
              </div>
           </div>
     
           <div class="services-3d-rotate-wrap">
              <div class="row">
     
                 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 mb-5">
                    <div class="flip-card">
                       <div class="flip-card-inner">
                          <div class="flip-card-front">
                             <div class="card card1 ">
                                <div class="card-header text-center card-head1">
                                   <h6 class="m-0">:الهدف الاستراتيجي الرابع</h6>
                                </div>
                                <div class="card-body card-body1">
                                   <p class="card-text">تحسين جودة التعليم العالي في
                                      مملكة البحرين
                                   </p>
                                </div>
                             </div>
                          </div>
                          <div class="flip-card-back">
                             <div class="card card1 text-center">
                                <div class="card-body card-body1">
                                   <div dir="rtl" style="align-content: center;"><p style="font-size: 30px;" ><b>
                                      اللأهداف الفرعية
                                    </b>
                                    </p>
                                    </div>
                                    <ul dir="rtl">
                                          <li style="padding: 5px;">تحسين مخرجات التعليم العالي والبحث العلمي</li>
                                          <li style="padding: 5px;">استحداث مؤسسات تعليم عال لمواكبة متطلبات سوق العمل</li>
                                          <li style="padding: 5px;">استقطاب الجامعات العالمية وتعزيز التعاون معها</li>
                                     </ul>
                                 
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
     
     
                 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 mb-5">
                    <div class="flip-card">
                       <div class="flip-card-inner">
                          <div class="flip-card-front">
                             <div class="card card2 ">
                                <div class="card-header text-center card-head2">
                                   <h6 class="m-0">:الهدف الاستراتيجي الثالث</h6>
                                </div>
                                <div class="card-body card-body2">
                                   <p class="card-text">توفير بنية تحتية داعمة للجميع
                                   </p>
                                </div>
                             </div>
                          </div>
                          <div class="flip-card-back">
                             <div class="card card2 text-center">
                                <div class="card-body card-body2">
                                    <div dir="rtl" style="align-content: center;"><p style="font-size: 30px;" ><b>
                                          اللأهداف الفرعية
                                        </b>
                                        </p>
                                        </div>
                                    <ul dir="rtl">
                                          <li style="padding: 5px;">إنشاء مدارس ومرافق متطورة وجذابة</li>
                                          <li style="padding: 5px;">تطوير المنشآت التعليمية القائمة لتلبية احتياجات التوسع</li>
                              
                                         </ul>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
     
     
                 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 mb-5">
                    <div class="flip-card">
                       <div class="flip-card-inner">
                          <div class="flip-card-front">
                             <div class="card card3 ">
                                <div class="card-header text-center card-head3">
                                   <h6 class="m-0">:الهدف الاستراتيجي الثاني</h6>
                                </div>
                                <div class="card-body card-body3">
                                   <p class="card-text">تطوير الأداء الإداري والتعليمي
                                      من أجل تقديم أفضل الخدمات
                                   </p>
                                </div>
                             </div>
                          </div>
                          <div class="flip-card-back">
                             <div class="card card3 text-center">
                                <div class="card-body card-body3">
                                    <div dir="rtl" style="align-content: center;"><p style="font-size: 30px;" ><b>
                                          اللأهداف الفرعية
                                        </b>
                                        </p>
                                        </div>
                                    <ul dir="rtl">
                                          <li style="padding: 5px;">توفير تنمية مهنية متميزة لموظفي وزارة التربية والتعليم</li>
                                          <li style="padding: 5px;">تعزيز التمكين الرقمي الإداري</li>
                                          <li style="padding: 5px;">تقديم خدمات متميزة للجميع</li>
                         
                                         </ul>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
     
     
                 <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 mb-5">
                    <div class="flip-card">
                       <div class="flip-card-inner">
                          <div class="flip-card-front">
                             <div class="card card4 ">
                                <div class="card-header text-center card-head4">
                                   <h6 class="m-0">:الهدف الاستراتيجي الأول</h6>
                                </div>
                                <div class="card-body card-body4">
                                   <p class="card-text">تحسين جودة العملية التعليمية
                                      التعلمية ورفع كفاءة مخرجاتها
                                   </p>
                                </div>
                             </div>
                          </div>
                          <div class="flip-card-back">
                             <div class="card card4 text-center">
                                <div class="card-body card-body4">
                                    <div dir="rtl" style="align-content: center;"><p style="font-size: 30px;" ><b>
                                          اللأهداف الفرعية
                                        </b>
                                        </p>
                                        </div>
                                     <ul dir="rtl">
                                        <li style="padding: 5px;">تحسين جودة المؤسسات التعليمية</li>
                                        <li style="padding: 5px;">توفير فرص تعليمية نوعية للجميع</li>
                                        <li style="padding: 5px;">تعزيز التمكين الرقمي في التعليم</li>
                                        <li style="padding: 5px;">تطوير المناهج التعليمية لمواكبة متطلبات العصر</li>
                                        <li style="padding: 5px;">تشجيع القطاع الخاص للاستثمار في القطاع التعليمي</li>
                                     </ul>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                
              </div>
           </div>
        </div>
     </div>