<div id="section-three" class="services-wrap ">
        <div class="bgwrap section-gap-about">
           <div class="container">
     
              <div class="row justify-content-end">
                 <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="sub-heading text-right">
                       <h3>شركاؤنا</h3>
                    </div>
                 </div>
              </div>
     
     
              <div class="row" dir="rtl">
     
                 <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="list-style">
                       <ul class="list-group list-group-flush text-right">
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>مجلس الوزراء </li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>أولياء أمور الطلبة </li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>كلية البحرين للمعلمين </li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>مجلس التنمية الاقتصادية </li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>تمكين </li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>القطاع الخاص </li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i> مؤسسات التعليم العالي </li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>مؤسسات التعليم الخاص والهيئات
                             التعليمية والإدارية في المدارس الخاصة
                             ورياض
                             الأطفال </li>
                       </ul>
                    </div>
                 </div>
     
                 <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                    <div class="list-style">
                       <ul class="list-group list-group-flush text-right">
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>المؤسسات الحكومية - السلطة
                             التنفيذية</li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>المجلس الوطني لمجلسي النواب
                             والشورى - السلطة التشريعية</li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>الهيئة الوطنية للمؤهلات وضمان
                             جودة التعليم والتدريب</li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>أفراد المجتمع المحلي والمجتمع
                             المدني</li>
                          <li class="list-group-item"><i class="fas fa-circle-notch mx-2"></i>المنظمات الإقليمية والدولية
                             وبيوت الخبرة</li>
                       </ul>
                    </div>
                 </div>
     
              </div>
     
           </div>
        </div>
     </div>