<ul dir="rtl" class="navbar-nav mr-n3 mx-lg-auto px-0 justify-content-center {{stickyClass}}">
   <li class="nav-item"><a class="menu-1 nav-link" href="javascript:void(0);">رؤيتنا و رسالتنا</a></li>
   <li class="nav-item"><a class="menu-2 nav-link" href="javascript:void(0);"> أهدافنا الاستراتيجية</a></li>
   <li class="nav-item"><a class="menu-3 nav-link" href="javascript:void(0);"> شــركــاؤنــا</a></li>
   <li class="nav-item"><a class="menu-4 nav-link" href="javascript:void(0);"> قــيــمــنــا</a></li>
   <li class="nav-item"><a class="menu-5 nav-link" href="javascript:void(0);">بــرنـامج الحـكومـة 2019-2022</a></li>
   <li class="nav-item"><a class="menu-6 nav-link" href="javascript:void(0);">الـرؤيـة الأقتصادية 2030</a></li>
   <li class="nav-item"><a class="menu-7 nav-link" href="javascript:void(0);">أهداف التنمية المستدامة</a></li>
</ul>