<div id="wrapper">
   <div (scroll)="onScrollEvent($event)">
      <app-header></app-header>
      <app-section-one></app-section-one>
      <div id="main">
         <!--|content start|-->
         <div class="content">
            <app-section-two></app-section-two>
            <app-section-three></app-section-three>
            <app-section-four></app-section-four>
            <app-section-five></app-section-five>
            <app-section-six></app-section-six>
            <app-section-seven></app-section-seven>
         </div>
      </div>
   </div>
</div>
<app-request-quote></app-request-quote>
<!-- back top -->
<div id="back-top">
   <a href="javascript:" id="return-to-top"><span class="screen-reader-text"></span><i class="fas fa-arrow-up"></i></a>
</div>