<header id="header-sec" class="header-v1">
	<!--|header-v1 section start|-->
	<div id="section-1" class="header-wrapper header-v1">
		<!--|header top section start|-->
		<div class="header-top py-3">
			<div class="container">
				<div class="d-flex justify-content-between align-items-center">
					<div class="header-widget-area d-flex">
						<app-header-contact-block></app-header-contact-block>
					</div>
					<div class="header-widget-area">
						<h5 class="m-0">
							الخريطة الاستراتيجية لوزارة التربية والتعليم 2019 - 2022
						</h5>
					</div>
				</div>
			</div>
		</div>
		<!--|header bottom section start|-->
		<div class="header-wrap" id="header-wrap">
			<div class="container">
				<!--  <div class="custom-container"> -->
				<nav
					class="navbar navbar-expand-lg navbar-dark theme-navbar bottom-float  d-flex justify-content-between align-items-center mx-3">

					<div class="burger-menu d-flex justify-content-between align-items-center">
							<i class="fas fa-align-left" data-toggle="collapse" data-target="#main-header"
							aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"></i>
						<h6 class="m-0">
							الخريطة الاستراتيجية لوزارة التربية والتعليم 2019 - 2022
						</h6>
					</div>
					<div class="navbar-collapse collapse justify-content-center" id="main-header">
						<app-menu></app-menu>
					</div>

				</nav>
				<!-- </div> -->
			</div>
		</div>
	</div>

	<!--|sticky header section start|-->
	<app-sticky-header></app-sticky-header>
</header>