<div class="page-slider-warp page-slider-v1-wrap" id="home-section">
   <div class="page-slider-v1">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
         <div class="slider-item-wrap position-relative bg-img-style {{data.bgImageClass}}" ngxSlickItem
            *ngFor="let data of homeData">
            <div class="bg-wrap">
               <div class="logo-box">
                  <img src="../../../../assets/images/logo.svg" alt="logo">
               </div>
               <div class="container">
                  <div class="row justify-content-end">
                     <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 ">
                        <div class="slider-content text-lg-left">
                           <div class="large-text mb-md-4 mb-3 text-right">
                              <h1>الخــريــطــة الاســتراتيجـــيةلوزارة التربية والتعليم2022-2019</h1>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </ngx-slick-carousel>
   </div>


   <div class="banner-bottom">
      <div class="container">
      <div class="row">
         <div class="col-sm-12 col-md-6 col-lg-6">
            <h4 class="heading1">
               رسالتنا
            </h4>
            <p>
               إتاحة الفرص التعليمية للجميع من خلال تنمية استعداداتهم وقدراتهم ومهارتهم، بهدف الارتقاء بنوعية التعليم
               وتحسين مخرجاته، وزيادة فاعليته، وتنمية الشراكة المجتمعية
            </p>
         </div>
         <div class="col-sm-12 col-md-6 col-lg-6">
            <h4 class="heading2">
               رؤيتنا
            </h4>
            <p>
               نظام تعليمي نوعي متطور وفق متطلبات الجودة ومعاييرها العالمية، يوظف التقنية في علميات التعليم والتعلم
               للتحول إلى مجتمع المعلومات والاقتصاد القائم على المعرفة لتحقيق التنمية المستدامة في مملكة البحرين
            </p>
         </div>
      </div>
   </div>
</div>
</div>