<div dir="rtl" class="services-wrap section-gap-about">
    <div class="container">

        <div  class="row justify-content-center">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="sub-heading1 text-center">

                    <h3>
                        الإطار الموحد للأولويات الحكومية
                    </h3>

                </div>
                <div class="sub-heading2 text-center">
                    <h6>
                        أهداف برنامج التعليم 2019-2022
                    </h6>
                </div>
            </div>
        </div>


        <div  class="row justify-content-center">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                <div class="word-line-box">
                    <p>
1- الارتقاء بأداء قطاع التعليم
                       
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                <div class="word-line-box">
                    <p>
                        2- الارتقاء بجودة مهنة التعليم
                        
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                <div class="word-line-box">
                    <p>
                           3- توسعة وتعزيز دور المؤسسات التعليمية
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 ">
                <div class="word-line-box">
                    <p>
                        4- تطوير البنية التحتية للتعليم
                    </p>
                </div>
            </div>
        </div>


    </div>

</div>