<div id="section-four" class="services-wrap section-gap-about">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="sub-heading text-center">
                    <h3>قـيـمـنـا</h3>
                </div>
            </div>
        </div>

        <div dir="rtl">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div class="" ngxSlickItem>
                    <div class="overlay-holder">
                        <div class="testi-img border-radius">
                            <img src="../../../assets/images/slide-icon5.svg" height="100" width="100">
                        </div>
                        <div class="testi-content text-center">
                            <div class="sec-title">
                                <p class="mb-0">العمل بروح الفريق الواحد</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ngxSlickItem>
                    <div class="overlay-holder">
                        <div class="testi-img border-radius">
                            <img src="../../../assets/images/slide-icon4.svg" height="100" width="100">
                        </div>
                        <div class="testi-content text-center">
                            <div class="sec-title">
                                <p class="mb-0">الانتماء والولاء</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ngxSlickItem>
                    <div class="overlay-holder">
                        <div class="testi-img border-radius">
                            <img src="../../../assets/images/slide-icon3.svg" height="100" width="100">
                        </div>
                        <div class="testi-content text-center">
                            <div class="sec-title">
                                <p class="mb-0">العدالة و المساواة</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ngxSlickItem>
                    <div class="overlay-holder">
                        <div class="testi-img border-radius">
                            <img src="../../../assets/images/slide-icon2.svg" height="100" width="100">
                        </div>
                        <div class="testi-content text-center">
                            <div class="sec-title">
                                <p class="mb-0">التربية من أجل السلام </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="" ngxSlickItem>
                    <div class="overlay-holder">
                        <div class="testi-img border-radius">
                            <img src="../../../assets/images/slide-icon1.svg" height="100" width="100">
                        </div>
                        <div class="testi-content text-center">
                            <div class="sec-title">
                                <p class="mb-0">المحاسبة و المساءلة</p>
                            </div>
                        </div>
                    </div>
                </div>

            </ngx-slick-carousel>
        </div>
    </div>

</div>


<div class="icon-slider-bottom d-flex justify-content-center align-items-center">
    <h2>
        طلابنا و طالباتنا
    </h2>
    <h4>
        هدفنا الرئيسي
    </h4>
</div>