<div dir="rtl" id="section-six" class="services-wrap section-gap-about">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="sub-heading text-center">
                    <h3><p><a href="../../../assets/PDF/Economic2030.pdf" class="text-primary"><b>الرؤية الاقتصادية 2030</b></a></p></h3>
                </div>
            </div>
        </div>

        <div>
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 m">
                    <div class="overlay-holder">
                        <div class="testi-img border-radius">
                            <img src="../../../assets/images/color-icon1.svg" height="100" width="100">
                        </div>
                        <div class="testi-content text-center">
                            <div class="sec-title">
                                <p class="mb-0"><b>الاستدامة</b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 ">
                    <div class="overlay-holder">
                        <div class="testi-img border-radius">
                            <img src="../../../assets/images/color-icon2.svg" height="100" width="100">
                        </div>
                        <div class="testi-content text-center">
                            <div class="sec-title">
                                <p class="mb-0"><b>التنافسية</b></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12 ">
                    <div class="overlay-holder">
                        <div class="testi-img border-radius">
                            <img src="../../../assets/images/color-icon3.svg" height="100" width="100">
                        </div>
                        <div class="testi-content text-center">
                            <div class="sec-title">
                                <p class="mb-0"><b>العدالة</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>



       
        <div class="footer-slide-cover" id="section-seven">
            <div class="row">
                <div class="col-xl-3 mt-5">
                    <div class="d-flex justify-content-between align-items-center">
                        
                     <img src="../../../assets/images/footer-slide-img1.svg" height="100" width="140">
                        <img src="../../../assets/images/footer-slide-img2.svg" height="100" width="150">
                    </div>
                </div>
                <div class="col-xl-9 mt-4">
                    <ngx-slick-carousel class="carousel footer-slide" #slickModal="slick-carousel"
                        [config]="slideConfig">
                        <div class="" ngxSlickItem>
                            <img src="../../../assets/images/footer-icon1.svg" style="height:180px; width: 180px;">
                        </div>
                        <div class="" ngxSlickItem>
                            <img src="../../../assets/images/footer-icon2.svg" style="height:180px; width: auto;">
                        </div>
                        <div class="" ngxSlickItem>
                            <img src="../../../assets/images/footer-icon3.svg" style="height:180px; width: auto;">
                        </div>
                        <div class="" ngxSlickItem>
                            <img src="../../../assets/images/footer-icon4.svg" style="height:180px; width: auto;">
                        </div>
                        <div class="" ngxSlickItem>
                            <img src="../../../assets/images/footer-icon5.svg" style="height:180px; width: auto;">
                        </div>
                        <div class="" ngxSlickItem>
                            <img src="../../../assets/images/footer-icon6.svg" style="height:180px; width: auto;">
                        </div>
                        <div class="" ngxSlickItem>
                            <img src="../../../assets/images/footer-icon7.svg" style="height:180px; width: auto;">
                        </div>
                        <div class="" ngxSlickItem>
                            <img src="../../../assets/images/footer-icon8.svg" style="height:180px; width: auto;">
                        </div>
                        <div class="" ngxSlickItem>
                            <img src="../../../assets/images/footer-icon9.svg" style="height:180px; width: auto;">
                        </div>
                        <div class="" ngxSlickItem>
                            <img src="../../../assets/images/footer-icon10.svg" style="height:180px; width: auto;">
                        </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="footer-copy-right">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 copy-right">
                <p>
                    © 2019 Ministry of Education Bahrain. All rights reserved
                </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 designed-by">

                <p>
                    Desinged by <b>Abdulrahman Isa Burashed</b>
                </p>
            </div>
        </div>

    </div>
</div>