<div class="quote-wrapper">
	<a class="quote-fixed base-bg">
		<img src="assets/images/quote-img.png" alt="quote-img">
	</a>
	<div class="quote-sidebar py-3 px-4">
		<div class="modal-content border-0">
			<div class="modal-header border-0 p-0">
				<h4 class="modal-title">'طلب استفسار'</h4>
				<button type="button" class="close quote-closed p-2 pr-3" data-dismiss="modal" aria-label="Close">
					<i class="fas fa-times"></i>
				</button>
			</div>
			<!--|modal-header|-->
			<div class="modal-body p-0">
				<div class="contact-info-des mb-4">
               <span class="d-block">
               <i class="fas fa-headphones"></i>
					   <a class="mb-2" href="tel:0097336569696">+973-36569696</a>
               </span>
               <span>
					   <a href="mailto:Abdulramanb@moe.gov.bh">
                  <i class="far fa-envelope"></i>Abdulramanb@moe.gov.bh</a>
				   </span>
            </div>
				<!--|contact-info-des|-->
				<app-request-quote-form></app-request-quote-form>
			</div>
		</div>
	</div>
</div>