<div id="section-five">


<div class="icon-top-head d-flex justify-content-center align-items-center">
    <h4>
        موائمات مهام وزارة التربية والتعليم 2019-2022
    </h4>
</div>




<div dir="rtl" class="services-wrap section-gap-about">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="sub-heading text-center">
                    <h3> <p><a href="../../../assets/PDF/GOVProg2022.pdf" class="text-primary">برنامج عمل الحكومة 2019-2022</a></p></h3>
                
                </div>
            </div>
        </div>


        <div dir="rtl" class="row justify-content-center">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">

                <div class="overlay-holder">
                    <div class="testi-img border-radius">
                        <img src="../../../assets/images/22-19-icon3.svg"  height="100" width="100">
                    </div>
                    <div class="testi-content text-center">
                        <div class="sec-title">
                            <p class="mb-0">الأولوية الأولى</p>
                            <hr>
                            <h5>تعزيز الثوابت الأساسية
                                للدولة والمجتمع</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">

                <div class="overlay-holder">
                    <div class="testi-img border-radius">
                        <img src="../../../assets/images/22-19-icon2.svg"  height="100" width="100">
                    </div>
                    <div class="testi-content text-center">
                        <div class="sec-title">
                            <p class="mb-0">الأولوية الثانية</p>
                            <hr>
                            <h5>الاستدامة المالية
                                والتنمية الاقتصادية
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 ">

                <div class="overlay-holder">
                    <div class="testi-img border-radius">
                        <img src="../../../assets/images/22-19-icon1.svg"  height="100" width="100">
                    </div>
                    <div class="testi-content text-center">
                        <div class="sec-title">
                            <p class="mb-0">الأولوية الثالثة</p>
                            <hr>
                            <h5>تأمين البيئة الداعمة
                                للتنمية المستدامة
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="icon-bottom">
                    <div class="testi-content text-center">
                        <div class="sec-title">
                            <h5>الاجراءات التنفيذية الرئيسية لوزارة التربية والتعليم</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row color-card-row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="color-card1 color-card">
                    <p>
                        الاستمرار في تنفيذ المشاريع
                        الخدمية للمواطنين في مجالات الصحة
                        والتعليم والاسكان
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="color-card2 color-card">
                    <p>
                        الاستفادة من التجارب الدولية وأفضل
                        الممارسات لتطوير المؤسسات التعليمية
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="color-card3 color-card">
                    <p>
                        تحسين جودة التعليم والتدريب الفني
                        والمهني مع ضمان مواءمتها مع
                        متطلبات سوق العمل
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="color-card3 color-card">
                    <p>
                        الاستمرار في تطوير المناهج التعليمية
                        لمواكبة أفضل الممارسات التعليمية
                    </p>
                </div>
            </div>


            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="color-card2 color-card">
                    <p>
                        تعزيز قطاع السياحة في المجالات الرياضية
                        والصحية والتعليمية وغيرها لتكون رفداً
                        من روافد الاقتصاد الوطني
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="color-card3 color-card">
                    <p>
                        تشجيع القطاع الخاص للاستثمار
                        في القطاع التعليمي
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="color-card4 color-card">
                    <p>
                        الارتقاء بجودة عمل الكادر التعليمي
                        وإدارة المدارس
                    </p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div class="color-card5 color-card">
                    <p>
                        الاستمرار في تطوير قطاع التعليم
                        العالي والبحث العلمي ومخرجاته
                        لخدمة القطاعات الأخرى
                    </p>
                </div>
            </div>


        </div>

    </div>

</div>

</div>